@import url("https://cdn.syncfusion.com/ej2/material.css");
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.positioned-time {
  position: absolute; 
  top: 400px;      
  left: 100px; 
}

body {
  background-image: url(./images/background.jpeg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
}

.person-gif {
  background-image: url(./images/person.gif);  /* Set the background image */
  background-size: contain;                     /* Scale the image to fit the container */
  background-position: center;                  /* Center the background image */
  background-repeat: no-repeat;                 /* Do not repeat the background image */
  width: 500px;                                 /* Set the desired width */
  height: 300px;                                /* Set the desired height */
  position: absolute;                           /* Position the element absolutely */
  margin: 20px;                                 /* Add margin around the element */
  top: 52%;                                    /* Position 20px from the top */
  left: 10%;                                   /* Position 50px from the left */
}

.person-gif {
  background-image: url(./images/person.gif);  /* Set the background image */
  background-size: contain;                     /* Scale the image to fit the container */
  background-position: center;                  /* Center the background image */
  background-repeat: no-repeat;                 /* Do not repeat the background image */
  width: 500px;                                 /* Set the desired width */
  height: 300px;                                /* Set the desired height */
  position: absolute;                           /* Position the element absolutely */
  margin: 20px;                                 /* Add margin around the element */
  top: 52%;                                    /* Position 20px from the top */
  left: 10%;                                   /* Position 50px from the left */
}

.rock-png {
  background-image: url(./images/rock.png);  /* Set the background image */
  background-size: contain;                     /* Scale the image to fit the container */
  background-position: center;                  /* Center the background image */
  background-repeat: no-repeat;                 /* Do not repeat the background image */
  width: 500px;                                 /* Set the desired width */
  height: 300px;                                 /* Set the desired height */
  position: absolute;                           /* Position the element absolutely */
  margin: 20px;                                 /* Add margin around the element */
  top: -10%;                                    /* Position 20px from the top */
  left: 10%;     
  transform: rotate(90deg);                               /* Position 50px from the left */
}